* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Red Rose", cursive;
   }
   body{
      background-image:linear-gradient(to top, rgba(34, 39, 69, 0.52),
                          rgba(50, 50, 104, 0.73)),
                      url('./assets/pexels-maxyne-barcel-10402282\ 1.png');
     background-repeat: no-repeat;
     background-size: cover;
   
   }
   .container{
     position: relative;
     display: flex;
     flex-direction: column;
     min-height: 100vh;
   }
   .navbar{
     display: flex;
     flex-direction: row;
     /* background-color: aqua; */
     width: 100%;
     min-height: 15vh;
     justify-content: space-between;
     align-items: center;
     cursor: pointer;
   }
   .list{
     display: flex;
     list-style: none;
     text-decoration: none;
     width: 400px;
     justify-content: space-between;
     color: #ffc233;
   }
   .button-small{
     margin-right: 7em;
     border: none;
     outline: none;
     background-color: #d13531;
     padding: 0.9em 2.5em 0.9em 2.5em;
     color: #ffffff;
     font-size: medium;
   }
   .logo{
     margin-left: 3em;
     width: 100px;
     height: 50px;
     background-size: cover;
   }
   .hero{
     display: flex;
     flex-direction: column;
     cursor: pointer;
     /* background-color:beige; */
     justify-content: space-between;
     align-items: center;
     min-height:75vh;
     padding-left: 8.5em;
     padding-right: 8.5em;
     margin-top: 60px;
     position: relative;
   }
   [ alt="bottom-logo"]{
     position: absolute;
     bottom: 0%;
     right: 9%;
     width: 100px;
     
   }
   .hero-heading{
     font-size: 6em;
     text-align:center;
     color: #ffc233;
     line-height: 1;
   }
   .button-large{
     border: none;
     outline: none;
     background-color: #d13531;
     padding: 1em 3em 1em 3em;
     color: #ffffff;
     font-size:large;
     position: absolute;
     bottom: 10%;
   }